@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Mitr&family=Monda&family=Work+Sans&display=swap');

@import url('framework/framework.css');

@import url('layout-page.css');
@import url('layout-home.css');
@import url('layout-post.css');
@import url('layout-category.css');
@import url('layout-search.css');

:root {
    --color1: yellow;
    --color2: #9326FF;
    --color3: #490093;
    --color-link: #7287FE;

    --font1: 'Monda', sans-serif;
    --font2: 'Architects Daughter', cursive;
    --font3: 'Mitr', sans-serif;
    --font4: 'Work Sans', sans-serif;

    --container-width: 85%;

    --min-height-img: 250px;
    --min-height-negative-img: -250px;
}

body {
    font-family: var(--font1);
}

/* ========================= link ========================= */

a { color: var(--color-link); }
a:hover { opacity: 0.7; }

/* ========================= Header ========================= */

header {
    background: var(--color2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* ========================= Main ========================= */

main {
    padding: 15px 15px 0 15px;
}

/* ========================= footer ========================= */

footer {
    background: var(--color3);
    padding: 25px 15px 25px 15px;
    color: var(--color2);
    height: 400px;
}

/* ========================= aside ========================= */

aside ul li {
    margin-bottom: 10px;
}

/* ========================= h2, h3 ========================= */

h2 {
    /*margin-bottom: 15px;*/
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--color3);
}

time {
    display: block;
    color: gray;
    font-size: 13px;
    margin-bottom: 15px;
}

/* ========================= article ========================= */

article {
    margin-bottom: 20px;
}

ul.post-list img {
    height: var(--min-height-img);
}

figure .badge {
    background: var(--color1);
    color: #fff;
    padding: 5px 25px 5px 25px;
}

figure a.badge:hover { opacity: 1; }